<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/functions_admin.js"></script>
	<title>Administradores</title>
</head>

<body>
	<button type="button" onclick="location.href='/'">Regresar</button>
	<h3>Formulario Administradores</h3>
	<hr>
	<fieldset style="width: 18%;">

		<legend>~ Formulario ~</legend>
		<table>


			<tr>
				<th> Nombre </th>
				<td><input type="text" style="margin-left: 20px" id="name_admin"></td>

			</tr>

			<tr>
				<th> Email </th>
				<td><input type="email" style="margin-left: 20px" id="email_admin"></td>
			<tr>
			<tr>
				<th> Contraseña </th>
				<td><input type="password" style="margin-left: 20px" id="passwd_admin"></td>
			<tr>
		<tr>
				<td>
					<button type="button"
						onclick="agregarAdmin($('#name_admin'),$('#email_admin'),$('#passwd_admin'))">Agregar
						Admin</button>
				</td>
			</tr>
		</table>
	</fieldset>
	
	<div th:if="${admins != null and !admins.empty}">
			<h3>Lista de Administradores</h3>
		<hr>
		<table border="2">
			<tr>
				<th style="background-color: darksalmon;"><b>NOMBRE ADMIN</b></th>
				<th style="background-color: darksalmon;"><b>EMAIL</b></th>

			</tr>

			<tr th:each="admin: ${admins}">
				<td th:text="${admin.name}"></td>
				<td th:text="${admin.email}"></td>

			</tr>
		</table>
	</div>



	<div th:if="${admins == null or admins.empty}">
		<h3>No hay usuarios administradores que mostrar.</h3>
	</div>
</body>

</html>