<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reto 3 - Jhon Romero</title>
</head>

<body>
	<h2><span style="text-decoration: blink;font-style: italic;" >Haga click sobre aquella entidad que desee visualizar.</span></h2>
	<hr>
    <ul>
        <li><h3><a href="category">Categorias</a></h3></li>
        <li><h3><a href="cabin">Cabañas</a></h3></li>
        <li><h3><a href="client">Clientes</a></h3></li>
        <li><h3><a href="msg">Mensajes</a></h3></li>
        <li><h3><a href="rating">Calificaciones</a></h3></li>
        <li><h3><a href="reservation">Reservas con sus calificaciones</a></h3></li>
        <li><h3><a href="admin">Usuarios administrativos</a></h3></li>
    </ul>
</body>

</html>